body {
  padding-right: 15%;
  padding-left: 15%;
  font-family: karla;
  color: rgb(74, 74, 74);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  margin-top: 5px;
}

img:hover {
  background-color: coral;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color: darkslategray;
  height: 1px;
}

.japan {
  animation: enoshima;
  animation-duration: 3s;
}

.transition {
  animation: background; 
  animation-duration: 3s;
}

@keyframes background {
  0% {
    background-color: rgba(36, 35, 35, 0.3);
  }
  25% {
    background-color: rgba(36, 35, 35, 0.5);
  }
  50% {
    background-color: rgba(36, 35, 35, 0.7);
  }
  100% {
    background-color: rgba(36, 35, 35, 1.0);
  }
}

@keyframes enoshima {
  0% {
    background: url(japan.jpg);
    opacity: 0.3;
  }
  25% {
    background: url(japan.jpg);
    opacity: 0.5;
  }
  50% {
    background: url(japan.jpg);
    opacity: 0.7;
  }
  100% {
    background: url(japan.jpg);
  }
}


button {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: karla;
  font-size: inherit;
  /*input has OS specific font-family*/
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.flash {
  animation: color;
  animation-duration: 2s;
  animation-iteration-count: 3;
}

@keyframes color {
  0% {
    background-color: #71eeb8;
  }
  50% {
    background-color: blue;
  }
  100% {
    background-color: red;
  }
}

button:hover {
  color: inherit;
}

.mb {
  margin-bottom: 10px;
}

.light {
  background-color: rgb(255, 255, 255);
  color: inherit;
  transition: all 2s ease;
}

.dark {
  background-color: rgb(36, 35, 35);
  color: rgb(161, 161, 161);
  transition: all 2s ease;
}

.top {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.pb {
  padding-bottom: 10px;
}

.drop {
  box-shadow: 10px 10px black;
}

ul {
  padding-inline-start: 0;
}

a {
  text-decoration: none;
}

.work-role-link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
}

.work-title {
  font-weight: 400;
  font-family: karla;
  flex: 3 1 100%;
  margin-bottom: 0;
  line-height: 1.2;
  transition: color 0.2s ease;
}

.work-detail {
  color: rgb(74, 74, 74);
}

.work-role {
  flex: 3 1 40%;
}

.work-company {
  flex: 1 1 40%;
}

.work-date {
  flex: 1 1 20%;
  text
}

li, a {
  transition: all 0.2s ease;
  list-style-type: none;
}

nav {
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

section p {
  margin-left: 14px;
}

.experience a {
  margin-left: 14px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: center;
}

nav li {
  margin-right: 30px;
}

.about-me {
  font-size: 35px;
}

.interests {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  font-size: 35px;
}

.interests a {
  display: flex;
  margin-top: 20px;
}

.work {
  padding-top: 20px;
  font-size: 35px;
}

div a:hover {
  transition: all 0.2s ease;
  color: white;
}

nav a {
  color: inherit;
}

nav a:visited {
  color: inherit;
}

nav a:hover {
  color: rgb(131, 50, 168);
}

nav.two a:hover {
  color: #71eeb8;
}

nav.three a:hover {
  color: blue;
}

nav.four a:hover {
  color: red;
}

.about-me a {
  color: rgb(131, 50, 168);
  transition: all 0.5s ease;
}

.about-me.two a {
  color: #71eeb8;
}

.about-me.three a {
  color: blue;
}

.about-me.four a {
  color: red;
}

.about-me a:hover {
  color: rgb(74, 74, 74);
}

.experience a {
  color: inherit;
}

.experience {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}

.experience li:hover {
  background-color: rgb(131, 50, 168);
  box-shadow: 10px 10px black;
}

.experience.two li:hover {
  background-color: #71eeb8;
  box-shadow: 10px 10px black;
}

.experience.three li:hover {
  background-color: blue;
  box-shadow: 10px 10px black;
}

.experience.four li:hover {
  background-color: red;
  box-shadow: 10px 10px black;
}

.name {
  margin-left: 10px;
  vertical-align: center;
}

.card-one {
  margin-left: 14px;
  background-color: rgb(131, 50, 168);
  height: 100px;
  width: 100px;
}

@media only screen and (min-width: 600px) and (max-width: 1000) {
  .card {
    height: 300px !important;
    width: 300px !important;
  }

  .top a {
    font-size: 60px;
  }

  .abt {
    display: none;
  }

  .top li {
    margin-right: 20px;
  }

  .top {
    width: 90%;
    margin-bottom: 200px;
    margin-top: 68px;
  }
}


.card-one.two {
  margin-left: 14px;
  background-color: #71eeb8;
  height: 100px;
  width: 100px;
}

.card-one.three {
  margin-left: 14px;
  background-color: blue;
  height: 100px;
  width: 100px;
}

.card-one.four {
  margin-left: 14px;
  background-color: red;
  height: 100px;
  width: 100px;
}

.card-one-translucent {
  margin-left: 14px;
  background-color: rgb(255, 67, 67);
  height: 100px;
  width: 100px;
  animation-name: example;
  animation-duration: 4s;
}

section.experience {
  padding-bottom: 20px;
}

section.projects a {
  text-align: center;
}

.work-container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.project {
  height: 200px;
  width: 100%;
  background-color: black;
}

.technologies {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  font-size: 35px;
}

.technologies p {
  font-size: 35px;
}

.hosted {
  margin-top: 100px;
  margin-bottom: 20px;
  text-align: center;
}

.trans {
  transition: all 1s ease-in-out;
}

@media only screen and (max-width: 796px) {
  body {
    padding: 0;
  }

  .abt {
    display: none !important;
  }
}

