body {
  font-family: karla;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #faf6f0;
  color: #037d75;
}

.home {
  font-size: 30px;
}

.mb {
  margin-bottom: 10px;
}

.top {
  margin-left: 0;
  left: 0;
  padding-left: 1%;
  width: 20%;
}

.pb {
  padding-bottom: 10px;
}

.drop {
  box-shadow: 10px 10px black;
}

ul {
  padding-inline-start: 0;
}

ul li {
  margin-bottom: 2%;
}

a {
  text-decoration: none;
}

.work-role-link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
}

.work-title {
  font-weight: 400;
  font-family: karla;
  flex: 3 1 100%;
  margin-bottom: 6px;
  line-height: 1.2;
  transition: color 0.2s ease;
}

.work-detail {
  color: rgb(74, 74, 74);
}

.work-role {
  flex: 3 1 40%;
}

.work-company {
  flex: 1 1 40%;
}

.work-date {
  flex: 1 1 20%;
}

li, a {
  transition: all 0.2s ease;
  list-style-type: none;
}

nav {
  margin-bottom: 20px;
  margin-top: 20px;
}

nav a {
  font-size: 30px;
}

li a {
  font-size: 20px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: center;
}

nav li {
  margin-right: 30px;
}

.about-me {
  font-size: 35px;
}

.interests {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  font-size: 35px;
}

.interests a {
  display: flex;
  margin-top: 20px;
}

.work {
  padding-top: 20px;
  font-size: 35px;
}

div a:hover {
  transition: all 0.2s ease;
  color: white;
}

nav a {
  color: inherit;
}

nav a:visited {
  color: inherit;
}

nav a:hover {
  color: #037d75;
}

.hosted {
  margin-top: 100px;
  margin-bottom: 20px;
  text-align: center;
}

@media only screen and (max-width: 796px) {
  body {
    padding: 0;
  }

  .abt {
    display: none !important;
  }

  .card-one {
    width: 100%;
  }
}

