body {
  background-color: rgb(255, 255, 255);
  font-family: montserrat;
  color: rgb(74, 74, 74);
}

ul {
  padding-inline-start: 0;
}

.experience {
  background-color: rgb(245, 245, 245);
}

a {
  text-decoration: none;
}

nav a:visited {
  color: inherit;
}

li, a {
  transition: all 0.2s ease;
  list-style-type: none;
}

nav {
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

section p {
  margin-left: 14px;
}

.experience a {
  margin-left: 14px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: center;
}

nav li {
  margin-right: 30px;
}

.about-me {
  font-size: 30px;
}

.work {
  padding-top: 20px;
  font-size: 30px;
}

div a:hover {
  color: rgb(255, 67, 67);
}

section a {
  color: rgb(255, 67, 67);
}

section a:hover {
  color: rgb(74, 74, 74);
}

.name {
  margin-left: 10px;
  vertical-align: center;
}

@keyframes example {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}

.card-one {
  margin-left: 14px;
  background-color: rgb(255, 67, 67);
  height: 100px;
  width: 100px;
}

.card-one-translucent {
  margin-left: 14px;
  background-color: rgb(255, 67, 67);
  height: 100px;
  width: 100px;
  animation-name: example;
  animation-duration: 4s;
}

